body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background: #f6f7fb;
}

#calendar {
  background: #f3f2f1;
  padding: 0px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.ec-main {
  width: 100%;
}

#calendar .ec-timeline .ec-line {
  border: none;
}

#calendar .ec-timeline .ec-days {
  border: none !important;
  box-shadow: none !important;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

#calendar .ec-timeline .ec-line,
.ec-timeline .ec-days,
.ec-timeline .ec-slot {
  border: none !important;
  box-shadow: none !important;
}

.ec-container {
  border: none !important;
}
.ec-content {
  border-right: none !important;
}

.ec-timeline .ec-resource,
.ec-timeline .ec-resource-label {
  border: none !important;
  align-items: center;
  box-shadow: none !important;
}

.ec-timeline .ec-days-header,
.ec-timeline .ec-day-header {
  border: none !important;
  box-shadow: none !important;
}

.ec-timeline .ec-event {
  border: none !important;
  box-shadow: none !important;
}

.events-blue {
  background-color: #d1e3f5;
  border: 2px solid #6d99d3;
  border-left: 5px solid #6d99d3;
  display: flex;
  justify-content: space-between;
  padding: 4px;
  height: 100%;
  margin: 0px;
  width: 100%;
  color: #3376d0;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.events-red {
  background-color: #f9dada;
  border: 2px solid #e58f95;
  border-left: 5px solid #e58f95;
  display: flex;
  justify-content: space-between;
  padding: 4px;
  height: 100%;
  margin: 0px;
  width: 100%;
  color: #e58f95;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.icons {
  display: flex;
  margin-top: 10px;
  gap: 8px;
  margin-bottom: 2px;
}

.resource-user {
  display: flex;
  gap: 8px;
  padding: 0;
}

.title-shift {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 400;
  font-size: 14px;
  color: #000;
}

.resource-name {
  font-size: 16px;
}

.shift {
  font-size: 12px;
  color: #7a7979;
}

.parent-title {
  color: #6068ab;
}

.parent-resource {
  color: #69588b;
  display: flex;
  border: none;
  justify-content: space-between;
  align-items: center;
}

.ec-event {
  background-color: #f3f2f1 !important;
  color: #000000 !important;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.ec-events {
  background-color: white;
  color: #000000 !important;
  border: 3px solid #f3f2f1;

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.header {
  width: 100%;
  color: #605e5c;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.day-week {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.date {
  font-weight: 700;
}
.icon {
  display: flex;
  align-items: center;
  gap: 4px;
}
.svg-hrs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.parent-title-hours {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.parent-event {
  width: 100%;
  background-color: #f3f2f1;
  color: #72706f;
  display: flex;
  align-items: center;
  justify-content: right;
  font-weight: 400;
  font-size: 18px;
  padding: px;
  gap: 2px;
}
