body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background: #f6f7fb;
}

#calendar {
  background: #f3f2f1;
  padding: 0px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100vw;
}

#calendar .ec-timeline .ec-time {
  width: 210px;
}

#calendar .ec-timeline .ec-line {
  width: 220px;
  border: none;
}

.ec-timeline .ec-days {
  border: none !important;
  box-shadow: none !important;
  /* padding: 8px; */
}

.ec-event .events {
  width: 100% !important;
  height: 100% !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  box-sizing: border-box;
}

.events {
  background-color: #d1e3f5;
  /* border: 1px solid #6d99d3; */
  display: flex;
  justify-content: space-between;
  padding: 4px;
  height: 100%;
  margin: 0px;
  width: 100%;
  color: #3376d0;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.icons {
  display: flex;
  margin-top: 10px;
  gap: 8px;
  margin-bottom: 2px;
}

.resource-user {
  display: flex;
  gap: 8px;
  padding: 0;
}

.title-shift {
  display: flex;
  flex-direction: column;
}
.title {
  font-weight: 400;
  font-size: 14px;
  color: #000;
}
.shift {
  font-size: 12px;
  color: #7a7979;
}
/* Hide timeline cells for header-only resources */
.ec-timeline .ec-line[data-resource-id] {
  border-bottom: 1px solid #e0e0e0; /* optional */
}

.ec-timeline .ec-line[data-resource-id] {
  display: flex;
}

.ec-timeline .ec-line[data-resource-id]:has(.ec-time) {
  display: flex;
}

[data-resource-id="CLINIC_MANAGER"] .ec-time {
  display: none !important;
  width: 0 !important;
}

.parent-title {
  color: #6068ab;
}

.parent-resource {
  color: #72706f;
  display: flex;
  /* gap: 10px; */
}

/* Parent resource timeline cells */
.ec-timeline .ec-days .parent-resource {
  background-color: #f0f0f5; /* light gray for parent */
}

/* Normal resources timeline cells */
.ec-timeline .ec-days .resource-user:not(.parent-resource) {
  background-color: #fff; /* white for normal resources */
}
