body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background: #f6f7fb;
}

#calendar {
  background: #f3f2f1;
  padding: 0px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100vw;
  height: 100vh;
}

#calendar .ec-timeline .ec-time {
  width: 220px;
}

#calendar .ec-timeline .ec-line {
  width: 220px;
  border: none;
}

.ec-timeline .ec-days {
  border: none !important;
  box-shadow: none !important;
  /* padding: 8px; */
}

.ec-event .events {
  width: 100% !important;
  /* height: 100% !important; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  box-sizing: border-box;
}

.events-blue {
  background-color: #d1e3f5;
  border: 2px solid #6d99d3;
  display: flex;
  justify-content: space-between;
  padding: 4px;
  height: 100%;
  margin: 0px;
  width: 100%;
  color: #3376d0;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.events-red {
  background-color: #f9dada;
  border: 2px solid #e58f95;
  display: flex;
  justify-content: space-between;
  padding: 4px;
  height: 100%;
  margin: 0px;
  width: 100%;
  color: #e58f95;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.icons {
  display: flex;
  margin-top: 10px;
  gap: 8px;
  margin-bottom: 2px;
}

.resource-user {
  display: flex;
  gap: 8px;
  padding: 0;
}

.title-shift {
  display: flex;
  flex-direction: column;
}
.title {
  font-weight: 400;
  font-size: 14px;
  color: #000;
}
.shift {
  font-size: 12px;
  color: #7a7979;
}
.parent-title {
  color: #6068ab;
}

.parent-resource {
  color: #69588b;
  display: flex;
}
.ec-event {
  background-color: #ffffff !important;
  color: #000000 !important;
  border-radius: 4px;
  padding: 4px 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}
.ec-events {
  background-color: white;
  color: #000000 !important;
  border-radius: 4px;
  padding: 4px 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}
